doctype html
html.no-js
  head
    meta(charset='utf-8')
    title Framework
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/plugins.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/themes.css')
    script(src='js/vendor/modernizr-respond.min.js')
  body
    #error-container
      .row
        .col-sm-8.col-sm-offset-2.text-center
          h1.animation-pulse
            i.fa.fa-exclamation-circle.text-warning
            |  404
          h2.h3
            | Oops, we are sorry but the page you are looking for was not found..
